{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">{{title}}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class='message'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <a class='new' href="{% url 'crearAlmacen' %}">Crear nuevo</a>

    {% for almacen in almacenes %}
        <article class='article-item'>

            <div class='data'>
                <h2>
                    <a class='edit' href="{% url 'actualizarAlmacen' almacen.subInventario %}">{{almacen.nombre}}</a>
                </h2>
                <h3>
                    <a href="{% url 'obtenerInventario' almacen.subInventario %}">Inventario</a>
                <h3>
                <span class='date'>{{almacen.subInventario}}</span>
                <p>
                    {{almacen.pdv}}

                    <a href="{% url 'borrarAlmacen' almacen.subInventario %}" class='btn btn-delete'>Borrar</a>
                </p>
            </div>

            <div class='clearfix'></div>
        </article>
    {% endfor %}

{% endblock %}