{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">{{title}}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class='message'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    </br>

    <form method="post" enctype="multipart/form-data">  
        {% csrf_token %}  
        <input type="file" name="xlsfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">  
        <button type="submit">Cargar</button>  
    </form>  

{% endblock %}