{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">{{title}}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class='message'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {% for orden in ordenes %}
        <article class='article-item'>

            <div class='data'>
                <h2>
                    {{orden.clave}}
                </h2>
                <span class='date'>Se creo esta orden con {{orden.total}} productos</span>
                <p>
                    <a href="" class='new'>Recepción de mercancía</a>
                </p>
            </div>

            <div class='clearfix'></div>
        </article>
    {% endfor %}

{% endblock %}