{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">{{title}}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class='message'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {% for orden in ordenes %}
        <article class='article-item'>

            <div class='data'>
                <h2>
                    {{orden.clave}}
                </h2>
                <span class='date'>Se creo esta orden con {{orden.total}} productos</span>
                <p>
                    {% if  orden.entregada%}
                        Ya se ha cargado la recepción de mercancía
                    {% else %}
                        <form action="{% url 'subirRec' orden.clave %}"  method="post" enctype="multipart/form-data" autocomplete='off'>  
                            {% csrf_token %}  

                            {{form}}
                            <span class='date'>Este proceso puede demorar unos minutos</span>
                            <button type="submit">Cargar</button>
                        </form>
                    {% endif %}
                </p>
            </div>

            <div class='clearfix'></div>
        </article>
    {% endfor %}

{% endblock %}